@import './mixins';
@import './breakpoints';
@import './colors';

.button {
    padding: rem(16px) rem(24) !important;
    border: rem(1px) solid $brand-blue !important;
    border-radius: 6px;
    background-color: $brand-blue !important;
    color: white;
    font-weight: 600 !important;
    text-decoration: none;
    word-spacing: rem(3px);
    letter-spacing: rem(2px);
    transition: 0.2s ease all;
    width: 100% !important;
    display: block;
    text-align: center;
    @include md {
        display: inline !important;
        width: auto !important;
    }
    &:hover {
        color: white !important;
        background-color:#0288a7  !important;
    }
}