$brand-blue: #009fc4;
$brand-gray-dark: #353535;
$brand-gray: #969696;
$brand-gray-light: #dcdcdc;

$brand-red: #ff441d;
$brand-orange: #ff9100;
$brand-green: #15c997;
$brand-yellow:  #ffce00;
$brand-blue-dark: #006fd3;
$brand-purple: #D042C0;
