$brand-blue: #009fc4;
$brand-gray-dark: #353535;
$brand-gray: #969696;
$brand-gray-light: #dcdcdc;

$brand-red: #ff441d;
$brand-orange: #ff9100;
$brand-green: rgb(21, 201, 151);
$brand-yellow:  #ffce00;
$brand-blue-dark: #006fd3;
$brand-purple: #D042C0;


$brand-orange-alfa: rgba(255, 145, 0,0.2);
$brand-green-alfa: rgba(21, 201, 151,0.2);
$brand-purple-alfa: rgba(208, 66, 192, 0.2);
$brand-blue-dark-alfa: rgba(0, 111, 211, 0.2);