@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&display=swap');

html {
    //wordpress adds height 100% in html tag
    height: auto !important
}

body {
    background-color: #353535 !important;
}
main {
    background-color: white;
    //min-height: calc(100vh - 144px);
}

//Typography
.container {
    h1, h2, h3 {
        font-weight: 700;
        font-family: 'Noto Sans JP', sans-serif;
    }
}

