 @import url('https://use.typekit.net/idp2yoy.css');

html {
    //wordpress adds height 100% in html tag
    height: auto !important
}

body {
    background-color: #353535 !important;
    font-family: proxima-nova, sans-serif !important; 
    font-weight: 300;
    font-style: normal;
}
main {
    background-color: white;
    //min-height: calc(100vh - 144px);
}

//Typography
.container, .container-fluid {
    h1, h2, h3, h4 {
        font-weight: 700;
        color: #353535;
    }
    h1 {
        letter-spacing: 0.02em;
    }
    p {
        color: #353535;
    }
}

