html footer {
    background-color: #353535;
    width: 100%;
    color: white;
    .address {
        p {
            color: white;
            margin-bottom: 4px;
        }
        a {
            text-decoration: none;
            color: white;
        }
    }

    .linked-in-logo {
        svg {
            width: rem(50);
            height: rem(50);
            color: #fff;
            fill: white;
            &:hover {
                fill: darken( white, 5%);
            }
        }
      
    }
}