header {
  background: transparent;
  .logo {
    width: 170px;
  }
  .header-nav, ul {
    display: flex;
  }
  .header-nav {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.005em;
    ul {
      li {
        a {
          margin-right: 32px;
        }
      }
    }
  }
}