
header {
  background-color: transparent;
  color: #353535;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  transition: 0.2s ease all;
  opacity: 0.925;
  &.dark {
    background-color: white;
    border: 1xp solid black;
    box-shadow: 46px -105px 130px;
    .logo {
      .white {
        display: none;
      }
      .dark {
        display: block;
      }
    }
    .header-nav{
      a {
        color: #353535;
      }
    }
  }
  .user-is-logged-in {
    margin-top: rem(35px);
  }
  
  .header {
    padding: rem(12) 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    .white {
      display: block;
    }
    .dark {
      display: none;
    }
    img {
      height: rem(60);
    }
  }
  
  .header-nav {
    font-weight: 600;
    font-size: rem(16);
    letter-spacing: 0.005em;
    line-height: 0;
    display: none;
    padding: 1.5rem 0;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    @include lg {
      display: flex;
    }
    @include lg {
      font-size: rem(20px);
    }
    .header-icon {
      height: rem(30);
      padding-left: rem(32);
      position: relative;
      top: -3px;
    }
    a {
      color: #353535;
      text-decoration: none;
  
    }
    ul {
      display: flex;
      list-style: none;
      margin-bottom: 0;
      li {
        a {
          margin-right: rem(32px);
        }
      }
    }
  }
  #menu-header-menu {
    
      .current-menu-item {
        a {
          border-bottom: 3px solid #009fc4 ;
        }
      }
      a {
        transition: 0.2s ease all;
        border-bottom: 3px solid transparent;
        &:hover {
          border-bottom: 3px solid #009fc4 ;
        }
      }
    
   
  }
}

#header-menu-icon {
  z-index: 100;
  color: black;
  display: block;
  
  @include lg {
    display: none;
  }
  &.show {
    color: white;
  }
}


#flags {
  position: relative;
  top: 0px;
  right: 0;
  width: rem(70) !important;
  display: inline-block;
  height: rem(20);
  .flag {
    background: none;
    &.sv, &.en {
      background: none !important;
    }
    &.en {
      z-index: 99999 !important;
      position: relative;
      left: 0px;
    }
  }
  #English {
     a:first-child {
      &:before {
        content: 'EN';
        width: 5px;
        height: 10px;
        position: relative;
        left: 0px;
        line-height: initial;
      }
      &:after {
        content: '|';
        width: 5px;
        height: 10px;
        position: relative;
        left: 6px;
        line-height: initial;
      }
    }
  }
  #Swedish {
     a{
      &:before {
        content: 'SV';
        width: 5px;
        height: 10px;
        position: relative;
        left: rem(25);
        line-height: initial;
        top: 0px;
      }
    }
  }
}









#mobile-menu {
  .bottom-menu {
    font-size: rem(16);
    >a:first-child{
      padding-right: 12px;
    }
  }
  #flags {
    position: relative;
    top: 9px;
    right: 0;
    width: rem(80) !important;
    display: inline-block;
    height: auto !important;
    color: black;
    .flag {
      background: none;
      &.sv, &.en {
        background: none !important;
      }
      &.en {
        z-index: 99999 !important;
        position: relative;
        left: 0px;
      }
    }
    #English {
       a:first-child {
        &:before {
          content: 'EN';
          width: 5px;
          height: 10px;
          position: relative;
          left: 0px;
          line-height: initial;
        }
        &:after {
          content: '|';
          width: 5px;
          height: 10px;
          position: relative;
          left: 6px;
          line-height: initial;
        }
      }
    }
    #Swedish {
       a{
        &:before {
          content: 'SV';
          width: 5px;
          height: 10px;
          position: relative;
          left: 16px;
          line-height: initial;
          top: 0px;
        }
      }
    }
  }
  
}


#mobile-menu {
  text-align: center;
  font-size: rem(24);
  position: absolute;
  top: 0;
  background: white;
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: absolute;
  .menu {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
  a {
    color: black;
    text-decoration: none;
    line-height: 110px;
  }
  transition: 0.2s ease right;
  .header-icon {
    height: rem(30);
    position: relative;
    top: -1px;
  }
  &.hide {
    right: -100vw;
    transition: 0.2s ease right;
  }
  &.show {
    right: 0;
  }

}


#nav-icon3 span:nth-child(1) {
  top: rem(0px);
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: rem(15px);
}

#nav-icon3 span:nth-child(4) {
  top: rem(30px);
}

#nav-icon3.open span:nth-child(1) {
  top: rem(15px);
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: rem(15px);
  width: 0%;
  left: 50%;
}

#nav-icon3 {
  width: rem(40px);
  height: rem(40px);
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  top: rem(3);
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: rem(5px);
  width: 100%;
  background: #00b4e4;
  border-radius: rem(9px);
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

