.our-services {
    padding-top:rem(80);
}

.icon-full svg {
    color: #00b4e4;
}

.middle-segment {
    background-color: #f0f9fe;
    padding: rem(60) 0 rem(50) 0;
}

.our-products {
    padding: rem(100) 0 rem(80) 0;
    img {
        width: 48px;
        height: 48px;
    }
    p {
        padding: 0;
        margin: 0;
    }
}

.products-row {
    margin: 0 auto !important;

}

.container-0 {
    background-color: $brand-orange-alfa;
    .icon-full svg {
        color: $brand-orange;
    }
}
.container-1 {


    background-color: $brand-blue-dark-alfa;
    .icon-full svg {
        color: $brand-blue-dark;
    }
}
.container-2 {
    background-color: $brand-purple-alfa;
    .icon-full svg {
        color: $brand-purple;
    }
}
.container-3 {
    background-color: $brand-green-alfa;
    .icon-full svg {
        color: $brand-green;
    }   
}