.start-page {
    background-size: cover;
    background-repeat: no-repeat;

    .information {
        margin-top: rem(30);
        padding-top: rem(30);
        margin-bottom: rem(40);
        font-size: rem(16);
        background-color:  white;
        @include lg {
            p,ul {
                font-size: rem(16);
            }
            
        }
    }
}