.start-page {
    background-size: cover;
    background-repeat: no-repeat;

    .information {
        padding-top: rem(60);
        padding-bottom: rem(40);
        font-size: rem(16);
        @include lg {
            p,ul {
                font-size: rem(16);
            }
            
        }
    }
}