.start-page {
    background-size: cover;
    background-repeat: no-repeat;

    .hero {
        @include md {
            &.user-is-logged-in {
                height: calc(100vh - 193px);
            }
            height: calc(100vh - 162px);
            
        }
        h1 {
            line-height: 4.5rem;
            font-weight: 700;
            padding-bottom: 1.5rem;
            font-size: rem(60);
            line-height: rem(60);
            padding-bottom: 0;
            margin-bottom: 0;
            span {
                color: rgb(0, 180, 228);
            }
        }
        p {
            margin-top: rem(20);
            font-size: rem(24);
            font-weight: 500;
            //color:rgb(107, 114, 128);
        }
        .text {
            margin-bottom: rem(40);
        }
        img {
            margin-top: 16px;
            width: 60%;
            @include md {
                margin-top: auto;
                width: auto;
            }
        }
    }
    .information {
        
    }
}